@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

//*variables sass de color, fuente , estilos de box-shadow, distintos anchos, altos, margenes y transformaciones*//

$color1: white;
$color2: darkorange;
$color3: black;
$color4: #141414;
$color5: #555F56;
$color6: #A68E5D;
$color7: #705d36; 

$font1: 'Ubuntu', sans-serif;
$negrita: 600;

$shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$shadow2: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

$ancho1: 80%;
$ancho2: 300px;

$alto1: 200px;

$margen1: 40px;
$margen2: 50px;
$margen3: 2rem;

$transicion: all 0.75s;

$transformacion1: scale(1.2);
$transformacion2: scale(1.1);
$transformacion3: scaleY(1.2);



*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: $font1;
    background-color: $color1;
    box-sizing: border-box;
}

//*header - barra de navegacion con bootstrap*//

.sec{
    width: $ancho1;
    height: $alto1;
}

.navbar{
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 18vh;
    box-shadow: $shadow;

}

.nav-link{
    font-weight: $negrita;
    color: $color1;
    
}

.navbar-brand{
    transition: $transicion;
}

.navbar-brand:hover{
    transform: $transformacion1;
    transition: $transicion;
}

h5:hover{
    color: $color2;
    transform: $transformacion3;
}


//*Seccion Idex*//


.cuerpoIndex{
    color: $color3;
    margin: $margen2 $margen2;
    text-align: center;
    font-size: 100%;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
}

.imagenIndex{
    display: flex;
    width: $ancho1 + 20%;
    margin-top: $margen2;
    margin-bottom: $margen2;
    box-shadow: $shadow;
}

h2{
    font-size: 160%;
    text-align: center;
    color: $color3;
    margin-bottom: $margen2;
}

#video{
    display: flex;
    justify-content: space-around;
    text-align: center;
    size: $ancho1 - 30%;
    margin-bottom: ($margen3 * 2) + 1;
}


//*Seccion Nuestra Historia*//

.cuerpoHist{
    width: $ancho1;
    display: flex;
    padding: $margen3;
    justify-content: space-around;

    //*nesting de img en cuerpoHist*//

    img{
        margin-top: $margen1 - 10px;
        margin-bottom: $margen1 / 2;
    }


}

//*containerHist con nesting de img y de p en sass*//

.containerHist{

    img{
        width: $ancho1 + 20%;
        transition: $transicion;
        
    }

    p{
        color: $color3;
        font-size: 100%;
        font-weight: $negrita;
        letter-spacing: 0.1rem;
    }
}



.containerHist img:hover{
    transform: $transformacion2;
    transition: $transicion;
}





//*Cuerpo Galeria*//

.bodyGaleria{
    background-color: $color4;
}

//*carrusel galeria*//


.contenedorCarrousel{
    margin-top: $margen1 - 10px;
    margin-bottom: $margen2;
    background-color: $color3;
}

//*footer*//

footer{
    height: ($alto1 / 4) + 5px;
    width: $ancho1 + 20%;
    background-color: $color5;
    color: $color3;
    font-size: $margen3 / 2;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
    text-align: center;
    box-shadow: $shadow2;
    position: fixed;
    bottom: 0;
}


.fa-whatsapp{
    color: $color3;
    font-size: $margen3 / 2;
}

.fa-whatsapp:hover{
    color: $color2;
}

.fa-youtube{
    color: $color3;
    font-size: $margen3 / 2;
}
.fa-youtube:hover{
    color: $color2;
}

.fa-instagram{
    color: $color3;
    font-size: $margen3 / 2;
}

.fa-instagram:hover{
    color: $color2;
}

.fa-facebook{
    color: $color3;
    font-size: $margen3 / 2;
}

.fa-facebook:hover{
    color: $color2;
}

.fa-angles-up{
    color: $color3;
    font-size: $margen3 / 2;
    background-color: $color6;
    border-radius: 50%;
    position: fixed;
    bottom: 12%;
    right: 3%;
    padding: 15px;
    border: solid;
    border-color: $color3;
    transition: $transicion;
    box-shadow: $shadow;
}

.fa-angles-up:hover{
    background-color: $color2;
    transform: $transformacion2;
    transition: $transicion;
}

//*contacto *//

.CuerpoContacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: $margen3 / 2;
    margin-bottom: $margen3 + 1;
}


//* formContainer con nesting de h3 *//


.formContainer{
    background-color: $color5;
    margin: $margen3;
    gap: $margen1 - 10px;
    text-align: center;
    justify-content: center;
    padding: $margen3;
    box-shadow: $shadow;

    h3{
        text-decoration: underline;
    }
}

//* mapContainer con nesting de h3 *//

.mapContainer{
    background-color: $color5;
    margin: $margen3;
    gap: $margen1 - 10px;
    text-align: center;
    justify-content: center;
    padding: $margen3;
    box-shadow: $shadow;

    h3{
        text-decoration: underline;
    }
}


.map{
    width: $ancho1 + 10%;
}

.form{
    justify-content: space-evenly;
    text-align: center;
}

.form__input, form.textarea{
    width: $ancho1 / 2;
    margin: $margen3 auto;
    padding: $margen3 / 4;
    color: $color3;
    border: none;
    font-family: $font1;
    font-size: $margen3 / 2;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
}

.form__textarea{
    height: 5rem;
    resize: none;
    width: $ancho1 + 7%;
    font-family: $font1;
    font-size: $margen3 / 2;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
    margin-top: $margen1 - 10px;
}

.form__input:focus, form.textarea:focus{
    outline: none;
}

.form__input--submit{
    display: flex;
    display: inline-block;
    background-color: $color1;
    margin: $margen3 auto ;
    border-radius: ($margen3 / 20) * 3;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
    cursor: pointer;
    font-size: $margen3 / 2;
    padding: ($margen3 / 20) * 3;
}

.form__input--submit:hover{
    background-color: $color2;
}


//*Seccion Catálogo, con uso de GRIDS y media Querys, 2 quiebres*//


.cuerpoCatalogo{
    width: $ancho1 + 20%;
    display: grid;
    justify-content: space-around;
    margin-top: $margen3 / 2;
    margin-bottom: $margen3 + 1;
    gap: $margen3;
}

//*item con nesting de img y de p en sass*//

.item{
    min-width: $ancho2;
    height: ($alto1 * 2) + ($margen2 * 3);
    border: solid 2px $color3; 
    font-family: $font1;
    font-size: $margen3 / 2;
    font-weight: $negrita;
    padding: $margen3 / 4;
    background-color: $color6;
    text-align: center;
    box-shadow: $shadow;


    img{
        max-width: $ancho2;
        margin: $margen3 / 4;
        transition: $transicion;
    }

    p{
        font-size: ($margen3 / 2) - 0.2;
    }
}


.item img:hover{
    transform: $transformacion2;
    transition: $transicion;
}


.precio{
    background-color: $color5;
    
}

.botonCatalogo{
    display: flex;
    display: inline-block;
    background-color: $color1;
    margin: $margen3 / 4 auto ;
    border-radius: ($margen3 / 20) * 3;
    font-weight: $negrita;
    letter-spacing: $margen3 / 20;
    cursor: pointer;
    font-size: $margen3 / 2;
    padding: ($margen3 / 20) * 3;
}

.botonCatalogo:hover{
    background-color: $color2;
}

//*elemento cuidados con nesting de h3 y de ul*//

.cuidados{
    background-color: $color5;
    text-align: center;
    padding: 1.5rem;
    justify-content: space-between;

    h3{
        text-decoration: underline;
        display: inline-block;
    }

    ul{
        list-style-type: none;
        margin-right: $margen1 - 10px;
        margin-top: $margen1 / 2;
    }
}


//*Media Query para el catalogo, primer quiebre a los 720px, en dos columnas*//

@media only screen and (min-width: 720px) {

    .cuerpoCatalogo{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .item{      //* con nesting de img*//
        height: ($alto1 * 2) + 180px;

        img{
            max-width: $ancho2;
        }
    }

    .cuidados{
        grid-template-rows: 4/5;
        grid-column: 1/3;
    }

//*Media Query para el carrousel, segundo quiebre 1024px, mas margen superior para dejarlo centrado en pantalla*//

    .contenedorCarrousel{
        margin-top: $margen2;
    }


}

//*Media Query para el catalogo, segundo quiebre 1024px, en tres columnas*//

@media only screen and (min-width: 1024px) {

    .cuerpoCatalogo{
        margin-bottom: $margen1;
        margin-left: auto;
        margin-right: auto;
        width: $ancho1 + 10%;
        padding: $margen3 / 2;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    //*item con nesting de h3 img y p*//

    .item{
        min-width: $ancho2;
        height: $alto1 * 2 + 50;
        font-size: $margen3 / 2;
        padding: $margen3 / 10;
        text-align: center;

        h3{
            font-size: $margen3 / 2;
        }

        img{
            max-width: 200px;
            margin: $margen3 / 2;
        }

        p{
            font-size: ($margen2 / 4) + 0.1;
        }
    }


    .precio{
        margin: $margen3 / 2;
    }

    .cuidados{
        grid-template-rows: 3/4;
        grid-column: 1/4;
    }


//*Media Query para el carrousel, segundo quiebre 1024px, mas margen superior para dejarlo centrado*//

    .contenedorCarrousel{
        margin-top: $margen1 * 2;
    }
}

//*Agrego un bucle modificando el color de fondo de los items del catalogo*//

@for $in from 1 through 6 {
    .catalogo#{$in} {
    background-color: lighten($color7, $in * 8%);
    }
}
