@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
.catalogo1 {
  background-color: #d5860f;
}

.catalogo2 {
  background-color: #ed9510;
}

.catalogo3 {
  background-color: #f0a026;
}

.catalogo4 {
  background-color: #f2aa3e;
}

.catalogo5 {
  background-color: #f3b556;
}

.catalogo6 {
  background-color: #f5bf6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #fff;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-image: url("../img/banner1.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 18vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar .nav-link {
  font-weight: 600;
  color: #fff;
}
.navbar .navbar-brand {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.navbar .navbar-brand:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.navbar h5 {
  color: #fff;
  border-radius: 40px;
  padding: 5px;
}
.navbar h5:hover {
  background-color: #fff;
  color: #111;
}

.container {
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-bottom: 190px;
}
.container .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container .imgBx, .container .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.container .card .contentBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.3s;
}

.container .card:hover .contentBx::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}

.container .card .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .contentBx .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.container .card .contentBx .content h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .card .contentBx .content p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}

.container .card:hover .contentBx .content {
  transform: translateX(0px);
  transition-delay: 0.3s;
}

.container3 {
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 130px;
}
.container3 .hexagono {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 50px 20px 70px;
}
.container3 .hexagono::before {
  content: "";
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}
.container3 .hexagono:hover::before {
  opacity: 0.8;
  transform: scale(0.8);
}
.container3 .hexagono .forma {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: 0.5s;
}
.container3 .hexagono .forma img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container3 .hexagono .forma .contenido {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, #bd770d, rgba(170, 133, 13, 0.8));
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.container3 .hexagono:hover .forma {
  transform: translateY(-30px);
  transition: 0.5s;
}

.container3 .hexagono:hover .forma .contenido {
  opacity: 1;
}

.cuerpoCatalogo {
  width: 100%;
  position: relative;
  top: 18vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 200px;
  gap: 2rem;
}
.cuerpoCatalogo .item {
  min-width: 300px;
  height: 550px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 4px;
}
.cuerpoCatalogo .item img {
  max-width: 300px;
  margin: 0.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.cuerpoCatalogo .item img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.cuerpoCatalogo .item p {
  font-size: 0.8rem;
}

.precio {
  background-color: #555F56;
}

.botonCatalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  background: rgba(240, 206, 96, 0.8);
  margin: 0.5rem auto;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem;
}
.botonCatalogo:hover {
  background-color: #fff;
  color: #bd770d;
}

.cuidados {
  background: #111;
  color: #999;
  text-align: center;
  padding: 1.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cuidados h3 {
  display: inline-block;
  color: #fff;
  text-decoration: underline red;
  line-height: -10x;
}
.cuidados ul {
  list-style-type: none;
  margin-right: 30px;
  margin-top: 20px;
}

@media only screen and (min-width: 720px) {
  .cuerpoCatalogo {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .item {
    height: 580px;
  }
  .item img {
    max-width: 300px;
  }

  .cuidados {
    -ms-grid-rows: 4/5;
    grid-template-rows: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 1024px) {
  .cuerpoCatalogo {
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1rem;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .item {
    min-width: 300px;
    height: 450px;
    font-size: 1rem;
    padding: 0.2rem;
    text-align: center;
  }
  .item h3 {
    font-size: 1rem;
  }
  .item img {
    max-width: 200px;
    margin: 1rem;
  }
  .item p {
    font-size: 12.6px;
  }

  .precio {
    margin: 1rem;
  }

  .cuidados {
    -ms-grid-rows: 3/4;
    grid-template-rows: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
}

footer h2 {
  font-size: 20px;
}

footer .container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container2 .sec {
  margin-right: 30px;
}

footer .container2 .sec.nosotros {
  width: 40%;
}

footer .container2 .sec.nosotros h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container2 .sec.nosotros h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
}

.sci li a:hover {
  background: #fff;
  color: #111;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.quickLinks h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contacto {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contacto h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.contacto h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.contacto .info {
  position: relative;
}

.contacto .info li {
  display: flex;
  margin-bottom: 16px;
}

.contacto .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contacto .info li span {
  color: #999;
  font-size: 16px;
  margin-right: 10px;
}

.contacto .info li a {
  color: #999;
  text-decoration: none;
}

.contacto .info li a:hover {
  color: #fff;
}

.copyrightText, .copyrightText h1 {
  width: 100%;
  background: #181818;
  padding: 8px 80px;
  text-align: center;
  color: #999;
}
.copyrightText h1 {
  font-size: 1rem;
}

/*mediaqueri para el footer*/
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container2 {
    flex-direction: column;
  }

  footer .container2 .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container2 .sec.nosotros,
.quickLinks,
.contacto {
    width: 100%;
  }

  .copyrightText, .copyrightText h1 {
    padding: 8px 40px;
  }
}
.bodyGaleria {
  background-color: black;
}

.contenedorCarrousel {
  position: relative;
  top: 18vh;
  margin-top: 30px;
  margin-bottom: 160px;
  background-color: black;
}

/*Contacto*/
.contactUs {
  position: absolute;
  top: 18vh;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  background: linear-gradient(90deg, #bd770d 0%, #bd770d 30%, #999 30%, #999 100%);
}
.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.contactUs .title h2 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #999;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/*formulario*/
.formBox {
  position: relative;
  width: 100%;
}
.formBox .row50 {
  display: flex;
  gap: 20px;
}
.formBox .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .inputBox span {
  color: #bd770d;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.formBox .row100 .inputBox {
  width: 100%;
}
.formBox .row100 .inputBox input, .formBox .row100 .inputBox textarea {
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid #999;
}
.formBox .row100 .inputBox textarea {
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.formBox .row100 .inputBox input[type=submit], .formBox .row100 .inputBox textarea[type=submit] {
  background: #999;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
.formBox .row100 .inputBox input[type=submit]:hover, .formBox .row100 .inputBox textarea[type=submit]:hover {
  background: #bd770d;
}
.formBox .row100 .inputBox::placeholder {
  color: #999;
}

.info {
  background: #111;
}
.info h3 {
  color: #fff;
  margin-bottom: 20px;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: #fff;
}
.info .infoBox div a {
  color: #999;
  text-decoration: none;
}
.info .infoBox div a:hover {
  color: #fff;
}

.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*diseño respònsive*/
@media (max-width: 991px) {
  .contactUs {
    background: #bd770d;
    padding: 20px;
  }

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }

  .map {
    min-height: 300px;
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .formBox .row50 .inputBox {
    width: 100%;
  }
  .formBox .row50 .contact {
    padding: 30px;
  }
}
@media (max-width: 420px) {
  .contactUs {
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
