/*CONTACTO*/

.contactUs{
    position: absolute;
    top: $altura1;
    left: 0;
    width: $ancho1;
    padding: $margen1 100px;
    background: linear-gradient(90deg, #bd770d 0%, #bd770d 30%, #999 30%, #999 100%);
    .title{
        @include flexcentrado;
        font-size: 2rem;
        margin-top: 15px;
        h2{
            color: $color1;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: $margen1;
    background: $color1;
    box-shadow: $sombra1;
}
.box{
    position: map-get($estilos , position );
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: $margen1 / 2;
    margin-top: $margen1 / 2;
}
.contact h3{
    color: $color3;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: $margen1 / 4;
}

/*formulario*/

.formBox{
    position: map-get($estilos , position );
    width: $ancho1;
    .row50{
        display: flex;
        gap: $margen1 / 2;
    }
    .inputBox{
        display: map-get($estilos , display );
        flex-direction: column;
        margin-bottom: $margen1 / 4;
        width: $ancho1 / 2;
        span{
            color: #bd770d;
            margin-top: $margen1 / 4;
            margin-bottom: 5px;
            font-weight: 500;
        }
    }
}

.formBox{
    .row100{
        .inputBox{
            width: $ancho1;
            input{
                padding: $margen1 / 4;
                font-size: 1.1rem;
                outline: none;
                border: 1px solid $color3;
            }
            textarea{
                @extend input;  
                resize: none;
                min-height: 220px;
                margin-bottom: $margen1 / 4;

            }
            input[type="submit"]{
                background: $color3;
                color: $color1;
                border: none;
                border-radius: $bordesredond;
                font-size: 1.1rem;
                max-width: $margen1 * 3;
                font-weight: 500;
                cursor: pointer;
                padding: 14px 15px;
                &:hover{
                    background: #bd770d;
                }
            }
            &::placeholder{
                color: $color3;
            }
        }
    }
}

/*Informacion*/

.info{
    background: $color2;
    h3{
        color: $color1;
        margin-bottom: $margen1 / 2;
    }
    .infoBox div{
        display: map-get($estilos , display );
        align-items: center;
        margin-bottom: $margen1 / 4;
        span{
            min-width: $margen1;
            height: $margen1;
            color: $color1;
            background: #181818;
            display: map-get($estilos , display );
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            border-radius: 50%;
            margin-right: 15px;
        }
        p{
            color: $color1;
        }
        a{
            color: $color3;
            text-decoration: none;
            &:hover{
                color: $color1;
            }
        }
    }
}

/*Mapa*/
.map{
    padding: 0;
    iframe{
        width: $ancho1;
        height: $ancho1;
    }
}

/*BREAKPOINTS*/

@media (max-width: 991px){
    
    .contactUs{
        background: #bd770d;
        padding: $margen1 / 2;
    }
    .box{
        position: map-get($estilos , position );
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info"
            "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: map-get($estilos , display );
        gap: 0;
        flex-direction: column;
        .inputBox{
            width: $ancho1;
        }
        .contact{
            padding: 30px;
        }
    }
}

@media (max-width: 420px){
    .contactUs{
        text-align: center;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
}

/*Fin CONTACTO*/