




footer {
    position: map-get($estilos , position );
    display: map-get($estilos , display );
    justify-content: map-get($estilos , justify-content );
    bottom: 0;
    width: $ancho1;
    height: auto;
    padding: 50px 100px;
    background: $color2;
}

footer h2 {
    font-size: 20px;
}

footer .container2 {
    display: map-get($estilos , display );
    justify-content: map-get($estilos , justify-content );
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container2 .sec {
    margin-right: 30px;
}

footer .container2 .sec.nosotros {
    width: 40%;
}

footer .container2 .sec.nosotros h2 {
    position: map-get($estilos , position );
    color: $color1;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container2 .sec.nosotros h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}


footer p {
    color: $color3;
}

.sci {
    margin-top: 20px;
    display: map-get($estilos , display );
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #181818;
    @include flexcentrado;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: $color1;
    font-size: 20px;
}

.sci li a:hover {
    background: $color1;
    color: $color2;
}

.quickLinks {
    position: map-get($estilos , position );
    width: 25%;
}

.quickLinks h2 {
    position: map-get($estilos , position );
    color: $color1;
    font-weight: 500;
    margin-bottom: 15px;
}

.quickLinks h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: $color3;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: $color1;
}

.contacto {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contacto h2 {
    position: map-get($estilos , position );
    color: $color1;
    font-weight: 500;
    margin-bottom: 15px;
}

.contacto h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.contacto .info {
    position: map-get($estilos , position );
}

.contacto .info li {
    display: map-get($estilos , display );
    margin-bottom: 16px;
}

.contacto .info li span:nth-child(1) {
    color: $color1;
    font-size: 20px;
    margin-right: 10px;
}

.contacto .info li span {
    color: $color3;
    font-size: 16px;
    margin-right: 10px;
}

.contacto .info li a {
    color: $color3;
    text-decoration: none;
}

.contacto .info li a:hover {
    color: $color1;
}

.copyrightText {
    width: $ancho1;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: $color3;
}

/*mediaqueri para el footer*/

@media (max-width: 991px) {

    footer {
        padding: 40px;
    }

    footer .container2 {
        flex-direction: column;
    }

    footer .container2 .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container2 .sec.nosotros,
    .quickLinks,
    .contacto {
        width: $ancho1;
    }

    .copyrightText {
        padding: 8px 40px;
    }
}

