/*GALERIA*/

.bodyGaleria {
    background-color: black;
}

.contenedorCarrousel {
    margin: 100px 0;
    background-color: black;
}

@media (max-width: 991px){
    .contenedorCarrousel{
        margin: 80px 0;
    }    
}

/*Fin GALERIA*/