/*GALERIA*/

.bodyGaleria {
    background-color: black;
}

.contenedorCarrousel {
    position: relative;
    top: $altura1;
    margin-top: $margen1 - 10px;
    margin-bottom: 160px;
    background-color: black;
}
