
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
        background-image: url("../img/banner1.jpg");
        background-size: cover;
        background-position: center;
        background-blend-mode: soft-light;
        min-height: $altura1;
        box-shadow:$sombra1;
        .nav-link {
            font-weight: 600;
            color: $color1;
        }
        .navbar-brand {
            -webkit-transition: $transcion1;
            transition: $transcion1;
            &:hover{
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                -webkit-transition: $transcion1;
                transition: $transcion1;
            }
        }
        h5 {
            color: $color1;
            border-radius: 40px;
            padding: 5px;
            &:hover{
                background-color: $color1;
                color: $color2;
        }
    }
    }


