/*HEADER*/

header{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gradiente2;
    box-shadow: $sombra1;
    img{
        padding: 0 20px;
        max-width: 200px;
        transition: $transcion1;
        &:hover{
            transform: scale(1.2);
        }
    }
    .navigation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
        li{
            list-style: none;
            margin: 5px 15px;
            a{
                color: $color1;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 1;
                border-radius: 40px;
                padding: 5px 10px;
                transition: all 0.4s;
                &:hover{
                    text-shadow: 1px 1px $color1;
                    color: $color2;
                    background: $color5;
                }
            }
        }
    }
}

#activo{
    text-shadow: 1px 1px $color1;
    color: $color2;
    background: $color5;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        a{
            padding: 0 10px;;
        }
}
}

@media (max-width: 400px){
    header{
        flex-direction: column;
        img{
            padding: 0 15px;
        }
        a{
            padding: 0 5px;;
        }
        .navigation{
            margin: 5px 0px;
            li{
                margin: 0;
            }
            }
        }

}
