.cuerpoHist{
    width: $ancho1;
    display: flex;
    padding: $margen3;
    justify-content: space-around;
    img{
        margin-top: $margen1 - 10px;
        margin-bottom: $margen1 / 2;
    }
}
.containerHist{
    img{
        width: $ancho1 + 20%;
        transition: $transicion;
        &:hover{
            transform: $transformacion2;
            transition: $transicion;
        }
    }
    p{
        color: $color3;
        font-size: 100%;
        font-weight: $negrita;
        letter-spacing: 0.1rem;
    }
}
