$color1: white;
$color2: darkorange;
$color3: black;
$color4: #141414;
$color5: #555F56;
$color6: #A68E5D;
$color7: #705d36;

$font1: 'Ubuntu',
sans-serif;
$negrita: 600;

$shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;
$shadow2: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

$ancho1: 80%;
$ancho2: 300px;

$alto1: 200px;

$margen1: 40px;
$margen2: 50px;
$margen3: 2rem;

$transicion: all 0.75s;

$transformacion1: scale(1.2);
$transformacion2: scale(1.1);
$transformacion3: scaleY(1.2);